{
	# e-mail for ACME
	email  leocucinell@gmail.com
}

ai.leocucinell.com {
    @api_key {
        header Authorization "Bearer {env.API_KEY}"
    }


	handle @api_key {
		reverse_proxy ollama:11434
	}
	handle {
		respond "Unauthorized" 401
	}
}